{% extends 'base.html' %}

{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card text-center shadow bg-white rounded">
        <div class="card-header">
            <h5 class="card-title">{{exercicio.descricao}}</h5>
        </div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                {% for alternativa in alternativas %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="alternativa" id="alternativa" value="{{ alternativa.id }}" checked>
                    <label class="form-check-label" for="{{alternativa.descricao}}">
                      {{ alternativa.descricao }}
                    </label>
                  </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}